spring:
  application:
    name: mylife
  profiles:
    active: dev

server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 0
